h1 {
  font-size: 80px;
  position: center;
  text-align: center;
}

h2 {
  font-family: monospace;
  text-align: center;
}

.image {
  align: center;
}

h3 {
  font-family: serif;
  text-align:center;
}

h4 {
  text-align: center;
  margin-top:80px
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-image: url("https://cdn.glitch.global/feef5731-eb54-4a82-aa48-d7280c004b01/IMG-3041.jpg?v=1651885236738");
  background-repeat: repeat;
  background-color: #cccccc;
}