h1 {
  font-size: 80px;
  position: center;
  text-align: center;
}

h2 {
  font-family: monospace;
  text-align: center;
}

.image {
  align: center;
}

h3 {
  font-family: serif;
  text-align:center;
}

h4 {
  align: center;
}